<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menlo School Snack Shack - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../static/styles/signup.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="https://www.menloschool.org/live/resource/image/_i/themes/2017/assets/images/menlo-logo-380-380.rev.1497657371.png">
                <img src="https://www.menloschool.org/live/resource/image/_i/themes/2017/assets/images/menlo-logo-380-380.rev.1497657371.png" alt="Logo" width="50">
            </a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/updates">What's New?</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Signup</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4 text-center text-white">Home: Menlo School Snack Shack</h1>
		</div>
	</div> 
    <div class="container">
   
        <h2 class="text-center food">Food</h2>
    
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Blue Gatorade</h5>
                    <a href="static/images/bluegatorade.webp" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <h2 class="text-center">Drinks</h2>
    
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <h2 class="text-center">Snacks</h2>
    
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <h2 class="text-center">Desserts</h2>
    
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/87/68/6d/exterior.jpg?w=700&h=-1&s=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotel deLuxe</h5>
                    <a href="https://www.provenancehotels.com/hotel-deluxe-portland" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max500/145950933.jpg?k=299f0488d395f97bfdf14650775891bea5ed7e2b942a423739a365010467e8a9&o=&hp=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The Porter Hotel</h5>
                    </p>
                    <a href="https://www.theporterhotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn0.weddingwire.com/vendor/809245/3_2/960/jpg/riverplace-hotel-exterior-at-night_51_542908-163468580073004.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kimpton Riverplace Hotel</h5>
                    <a href="https://www.riverplacehotel.com/" target = _blank class="btn btn-primary">Learn More!</a>
                    <br>
                    <br>
                    <div class="card-buttons">
                        <button class="like-button"><i class="fas fa-thumbs-up"></i></button>
                        <button class="dislike-button"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <div class="like-count">100 likes</div>
                </div>
                
            </div>
            
        </div>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd"></script>
</html>


