{% extends "base.html" %}

{% block title %}Menlo School Snack Shack - What's New?{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/styles/updates.css">
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
{% endblock %}

{% block navlinks %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/signup">Signup</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
{% if user.is_admin %}
    <li class="nav-item">
      <a class="nav-link" href="/update_snack">Update Snack!</a>
    </li>
{% endif %}
{% endblock %}

{% block header %}
<h1 class="display-4 text-center text-white">What's New: Menlo School Snack Shack</h1>
{% endblock %}

{% block content %}
<h2>Week of 5/01 - Snack Shack Updates</h2>

<h2 class="text-center">New Stock:</h2>
<div class="row">
    {% for snack in snacks if snack.category == 'upcoming' %}
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="{{ snack.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ snack.name }}</h5>
            <a href="{{ snack.link }}" target="_blank" class="btn btn-primary">Learn More!</a>
            <br>
            <br>
            <div class="card-buttons">
                <form method="POST">
                    <input type="hidden" name="snack" value="{{ snack.id }}">
                    <button class="like-button" type="submit"><i class="fas fa-thumbs-up"></i></button>
                </form>
            </div>
            <div class="like-count" id="like-count">{{ snack.like_count }} likes</div>
          </div>
        </div>
      </div>
      {% if loop.index0 == 3 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>
  
</div>

  
       

<h2 class="text-center">Hours this week: </h2>


<table style="width:100%">
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    <tr>
      <td>2:00-4:00</td>
      <td>2:00-4:00</td>
      <td>2:00-4:00</td>
      <td>2:00-4:00</td>
      <td>2:00-4:00</td>
    </tr>
    
</table>

{% endblock %}
{% block scripts %}
<script src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd"></script>
{% endblock %}